// Root
// Colors
$background: #003049;
$red: #D62828;
$orange: #F77F00;
$yellow: #FCBF49;
$vanilla: #EAE2B7;


body {
    background-color: $background;
    width: 100%;
    margin: 0;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__wrap {
    
    border-bottom: black 10px solid;

    .header__spacer-container {
        width: 100%;
    }

    .header__spacer-red,
    .header__spacer-orange,
    .header__spacer-yellow,
    .header__spacer-blue {
        height: 55px;
        width: 100%;
    }
    .header__spacer-red {
        background-color: $red;
    }
    .header__spacer-orange {
        background-color: $orange;
    }
    .header__spacer-yellow {
        background-color: $yellow;
    }
    .header__spacer-blue {
        background-color: $background;
    }
}  

.logo__wrap {
        width: 100%;
        position: absolute;
        top: 45px;
        text-align: center;

    .logo__container {
        width: 320px;
        height: 165px;
        border: black 10px solid;
        border-radius: 5px;
    }
    .logo__logo {
        font-size: 72px;
    }
}

.banner__wrap {
    
    height: 640px;
    border-bottom: black 10px solid;

    .banner__container {
        border-radius: 5px;
        width: 960px;
        height: 480px;
        border: black 10px solid;
    }
    .banner__img {
        background-image: url(assets/images/C&C.jpg);
    }
}

.page__wrap {

    .page__heading {

    }

    .page__container {
        width: 1440px;
    }
    .page__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .grid__cell {
        margin: 25px;
        display: flex;
        flex-direction: column;
        height: 360px;
        border: black 10px solid;
        border-radius: 10px;
    }
    .grid__cell-img {
        width: 100%;
        height: 70%;
        border-bottom:black 5px solid;
    }
    .grid__cell-title {
        font-size: 2rem;
        text-align: center;
    }

}