// Root
// Colors
$background: #003049;
$red: #D62828;
$orange: #F77F00;
$yellow: #FCBF49;
$vanilla: #EAE2B7;


body {
    background-color: $background;
    width: 100%;
    margin: 0;
}

.header__wrap {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: black 10px solid;

    .header__spacer-container {

    }
    .header__spacer-red,
    .header__spacer-orange,
    .header__spacer-yellow,
    .header__spacer-blue {
        height: 55px;
        width: 100%;
    }
    .header__spacer-red {
        background-color: $red;
    }
    .header__spacer-orange {
        background-color: $orange;
    }
    .header__spacer-yellow {
        background-color: $yellow;
    }
    .header__spacer-blue {
        background-color: $background;
    }



}  

.logo__wrap {
        width: 100%;
        position: absolute;
        top: 45px;
        display: flex;
        justify-content: center;
        text-align: center;

    .logo__container {
        width: 320px;
        height: 165px;
        border: black 10px solid;
        border-radius: 5px;
    }
    .logo__logo {
        font-size: 72px;
    }
}

.banner_wrap {
        width: 1080px;
        height: 720px;
 
    .banner__container {
       border: black 10px solid;
        border-radius: 5px;
    }
    .banner__img {
        background-image: url(assets/images/C&C.jpg);
    }
}