body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #0F0F0F;
}


table {
    background-color: brown;
}

td {
    margin: 2px;
    width: 125px;
    height: 125px;
    outline: 1px black solid;
}